:root {
    --main-bg-color: #e2e8f0;
    --surface-bg-color: #ffffff;
    --accent-color: #1992d4;
    --accent-text-color: #ffffff;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 180px 1fr;
    height: 100vh;
    background-color: var(--main-bg-color);
}

nav {
    grid-row: 1 / 3;
    background-color: var(--accent-color);
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: fit-content(40px);
    column-gap: 10px;
    row-gap: 30px;
    padding: 10px;

    a {
        color: var(--accent-text-color);
        text-decoration: none;
        font-size: 20px;
        padding: 10px;

        svg {
            width: 60%;
            height: 100%;
            justify-self: center;
        }
    }
    .logo a {
        font-size: 32px;
        font-weight: bold;

        svg {
            height: 90%;
            width: 90%;
        }
    }

    .logo, a, ul, li {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / 3;
        align-items: center;
    }
}

header {
    background-color: var(--surface-bg-color);

    * {
        font-size: 16px;
    }

    & > div {
        display: flex;
        width: 100%;
        gap: 24px;
        padding: 20px 32px;
        align-items: center;

        & > div {
            display: flex;
            gap: 24px;
            align-items: center;
        }
    }

    input {
        background-color: var(--main-bg-color);
    }

    input,
    .user-greeting {
        width: 100%;
        max-width: 1000px;
        margin-right: auto;
    }

    button {
        background-color: var(--accent-color);
        color: var(--accent-text-color);
    }

    input,
    button {
        padding: 0.5em 1.5em;
        border-radius: 2em;
    }

    .greeting {
        font-size: 14px;
    }
    .name {
        font-size: 24px;
    }

    svg {
        height: 1.5em;
        width: 1.5em;
    }

    img {
        border: 1px solid black;
        border-radius: 50%;
    }

    .user-info img {
        height: 2em;
    }
    .user-greeting img {
        height: 4em;
    }
}

.main {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr 1fr;
    gap: 28px;
    padding: 20px 28px;

    & > section > p {
        font-size: 18px;
        font-weight: bold;
    }
}

.projects {
    grid-row: 1 / -1;
    grid-column: 1 / -2;
}

.announcements {
    grid-row: 1 / 2;
    grid-column: -1 / -2;
}

.trending {
    grid-row: 2 / 3;
    grid-column: -1 / -2;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: 250px;
    gap: 28px;
}

.announcements,
.trending {
    display: flex;
    flex-direction: column;
}
.announcements-container,
.trending-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: auto;

    & > div {
        flex-grow: 1;
    }
}
